:root {
    --roboto: Roboto, sans-serif;
    --pixelify: Pixelify Sans, monospace;
}

* {
    box-sizing: border-box;
}

body {
    display:grid;
    grid-template-columns: 15em 1fr;
    grid-template-rows: 5em 20em 1fr;
    width:100%;
    color:#000;
    font-family:var(--roboto);
}

header {
    position: sticky;
    top:0;
    left:0;
    grid-column: 2 / 3;
    grid-row:1 / 2;
    width:100%;
    min-width:200px;
    z-index:99;
}

h1 {
    font-family: var(--pixelify);
    color:#fff;
    padding:5px 0 8px;
}

h1:before {
    content:'≥';
    color:rgb(220, 38, 38);
    font-weight:bold;
}

#asideBody {
    position: sticky;
    top:0;
    left:0;
    grid-column:1 / 2;
    grid-row: 1 / 3;
    z-index:99;
}

nav h2 {
    font-family:var(--pixelify);
    font-size:1.2em !important;
    text-align:center;
}

nav h3 {
    font-family: var(--pixelify);
    text-align:center;
}

nav h3::before {
    content:'≥';
    animation:blink 0.8s infinite alternate;
    color:rgb(220, 38, 38);
    font-weight:bold;
    margin: 0 0 0 5px;
    text-decoration:none;
}

@keyframes blink {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

nav ul {
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    /** Makes the UL flow vertically in slimmer browsers **/
    flex-direction:column;
    padding: 7% 0 7% 7%;
}

nav ul li {
    padding: 1.5% 0 1.5% 0;
}

nav input {
    display:none;
}

nav label {
    font-size:0.9em;
    cursor:pointer;
}

nav input:checked + label {
    font-weight:bold;
    letter-spacing:0.5px;
    border-bottom:1px solid rgba(220, 38, 38);
}

nav input:checked + label::before {
    content:'≥';
    color:rgb(220, 38, 38);
    margin: 0 5px 0 0;
    font-family:var(--pixelify);
}

#mainBody {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    z-index:1;
}

#timers {
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap:2em 1em;
    padding:1em 0;
}

#timers div {
    width: 20em;
    height:25em;
    flex-grow: 2;
    background-size:cover;
    background-position:center top;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-end;
    transition-duration:0.3s;
}

#timers div:hover {
    transform:scale(0.98);
    cursor:pointer;
}

#timers div:hover h2, #timers div:hover p {
    background-color:rgba(0,0,0,1);
}

#timers h2 {
    margin:4px;
    color:#fff;
    text-shadow:1px 1px 0px #000;
    background-color: rgba(0,0,0,0.7);
    border-radius:10px;
    width:100%;
    padding:2px 0;
    transition-duration:0.3s;
}

#timers div p {
    margin:4px;
    font-family:var(--pixelify);
    text-shadow:1px 1px 0px #000;
    background-color: rgba(0,0,0,0.7);
    border-radius:10px;
    width:100%;
    padding:2px 0;
    transition-duration:0.3s;
}

#timers div p:first-of-type {
    color:#fff;
}

/* Style for Back to Top Button */
#back-to-top {
    display: none; /* Hidden initially */
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #ff0000;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    z-index: 1000; /* To ensure it stays on top of other elements */
}

#back-to-top:hover {
    background-color: #ff5d5d;
}

.collapsible-section {
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.collapsible {
    padding: 10px;
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
    cursor: default;
}

@media screen and (max-width:768px) {
    /** Turn the body into a single column when you size down **/
    body {
        display:flex;
        flex-direction:column;
    }
    /** When screen is smaller than 768px, make header position relative and wider  **/
    header {
        width:100%;
        position:relative;
        left:0;
    }
    /** Makes the UL flow horizontally in smaller browsers **/
    nav ul {
        flex-direction:row;
        align-items:center;
        justify-content:space-evenly;
        padding: 3% 0 3% 3%;
    }
    /** Adjusts the height requirements for the AsideBody **/
    #asideBody {
        position:relative;
    }
    /** Makes pointer show when function is usable **/
    .collapsible {
        cursor: pointer;
    }
    /** Hides arrow until needed **/
    .collapsible:after {
        content: '\25BC'; /* Down arrow */
        margin-left: 10px;
        transition: transform 0.3s;
    }
    
    .collapsible.active:after {
        transform: rotate(180deg); /* Up arrow */
    }
    
    .collapsible {
        display: block;
    }
    
    .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        display: none;
    }
    
    .content.expanded {
        display: block;
        max-height: 100%;
    }   
}

/* Style for Back to Top Button */
#back-to-top {
    display: none; /* Hidden initially */
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #ff0000;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    z-index: 1000; /* To ensure it stays on top of other elements */
}

#back-to-top:hover {
    background-color: #ff5d5d;
}
