:root {
    --roboto: Roboto, sans-serif;
    --pixelify: Pixelify Sans, monospace;
}

* {
    box-sizing: border-box;
}

header {
    position:fixed;
    top:0;
    left:10em;
    width:calc(100vw - 10em);
    min-width:300px;
}

h1 {
    font-family: var(--pixelify);
}

/** Adds text shadow to second half of logo **/
.h1Logo {
    text-shadow:2px 2px 0px #000;
}

#asideBody {
    width:10em;
}

h3 {
    font-family: var(--pixelify);
    font-weight:bold;
}

h3::before {
    content:'≥';
    animation:blink 1.5s infinite;
    color:red;
    font-weight:bold;
    margin: 0 0 0 5px;
    text-decoration:none;
}

@keyframes blink {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

nav ul {
    display:flex;
    align-items:center;
    justify-content:space-between;
    /** Makes the UL flow vertically in wide enough browsers **/
    flex-direction:column;
}

/** When screen is smaller than 768px, make header position relative and wider  **/
@media screen and (max-width:768px) {
    header {
        width:100%;
        position:relative;
        left:0;
    }
    /** Makes the UL flow horizontally in smaller browsers **/
    nav ul {
        flex-direction:row;
    }
}